<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.healthdata.mapper.DataMapper">

    <select id="searchAll" resultType="com.example.healthdata.entity.Data">
        select * from health.data
    </select>

    <select id="searchByName" resultType="com.example.healthdata.entity.Data">
        select * from health.data where name=#{name}
    </select>

    <update id="update1" parameterType="com.example.healthdata.entity.Data">
        update health.data set address=#{address},gender=#{gender},birthday=#{birthday},phoneNum=#{phoneNum},height=#{height},weight=#{weight},heat=#{heat},pulse=#{pulse},pressure=#{pressure} where name=#{name}
    </update>

    <update id="update2" parameterType="com.example.healthdata.entity.Record">
        update health.data2 set frequency=#{frequency},keeptime1=#{keeptime1},keeptime2=#{keeptime2},ability=#{ability},smoke=#{smoke},drug=#{drug} where name=#{name}
    </update>

    <insert id="insert" parameterType="com.example.healthdata.entity.Data">
        insert into health.data values (#{name}, #{gender}, #{birthday}, #{address}, #{phoneNum}, #{height}, #{weight}, #{heat}, #{pulse}, #{pressure})
    </insert>

    <delete id="delete" parameterType="String">
        delete from health.data where name=#{name}
    </delete>

    <select id="fuzzySearch" resultType="com.example.healthdata.entity.Data">
        select * from health.data where name like #{name}
    </select>

    <select id="getRecord" resultType="com.example.healthdata.entity.Record">
        select * from health.data2 where name=#{name}
    </select>

    <select id="getAllRecord" resultType="com.example.healthdata.entity.Record">
        select * from health.data2
    </select>

    <insert id="insert2" parameterType="com.example.healthdata.entity.Record">
        insert into health.data2 values (#{name}, #{frequency}, #{keeptime1}, #{keeptime2}, #{ability}, #{smoke}, #{drug})
    </insert>

    <delete id="delete2" parameterType="String">
        delete from health.data2 where name=#{name}
    </delete>
</mapper>
